@model Product

<div class="card-body">
    <div class="form-group">
        <label asp-for="CategoryId">Select Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
        <span class="text-danger d-block font-weight-bold mt-2" asp-validation-for="CategoryId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter product name ...">
        <span class="text-danger d-block font-weight-bold mt-2" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" class="form-control" placeholder="Enter product price ...">
        <span class="text-danger d-block font-weight-bold mt-2" asp-validation-for="Price"></span>
    </div>
</div>

<div class="card-footer">
    <a asp-action="Index" class="btn btn-danger mr-1">
        <i class="fas fa-times"></i> Cancel
    </a>
    <button type="submit" class="save-product btn btn-success">
        <i class="fas fa-save"></i> Save
    </button>
</div>