@model Product

@{ 
    var productImage = Model.ProductImages
          .Where(image => image.IsMain)
          .FirstOrDefault()
          .Image;
}

<li class="shopping-cart-item p-3">
    <div class="shopping-cart-item-details" data-product-id="@Model.Id">
        <div class="product-img">
            <img src="/assets/img/@productImage" />
        </div>
        <div class="product d-flex flex-wrap ml-3">
            <h6 class="product-name">@Model.Name</h6>
            <span class="product-quantity">@ViewData["Quantity"]</span>
            <span class="mx-1">X</span>
            <span class="product-price">$@Model.Price</span>
        </div>
        <div class="cart-remove">
            <i class="fas fa-times"></i>
        </div>
    </div>
</li>