@model IEnumerable<Testimonial>

@foreach (var testimonial in Model)
{
    <div>
        <div class="item text-center">
            <div class="img d-flex justify-content-center">
                <img src="~/assets/img/@testimonial.Author.Avatar" alt="">
            </div>
            <div class="text text-muted pt-3 pb-5">
                <i>
                    @testimonial.Description
                </i>
            </div>
            <div class="author">
                <h6>@testimonial.Author.Name</h6>
            </div>
        </div>
    </div>
}