<!-- HEADER START -->
<header>
    <div class="container">
        <div class="mobile-navbar position-absolute shadow-lg h-100 p-5">
            <i class="fas fa-times fa-lg" id="mobile-navbar-close"></i>
            @{
                ViewData["navListClass"] = "list-unstyled";
            }
            <partial name="_NavLinkPartial" view-data="ViewData" />
        </div>
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg d-flex d-lg-block justify-content-between d-xl-flex navbar-light py-3 py-lg-0">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img src="~/assets/img/logo.png" alt="" id="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" id="mobile-navbar-show">
                        <span class="navbar-toggler-icon" style="font-size: 12px;"></span>
                    </button>

                    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
                        @{
                            ViewData["navListClass"] = "navbar-nav ml-auto";
                            ViewData["navItemClass"] = "nav-item";
                            ViewData["navLinkClass"] = "nav-link";
                        }
                        <partial name="_NavLinkPartial" view-data="ViewData" />
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->
