<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                <i class="navnav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="navnav-icon fas fa-layer-group"></i>
                <p>
                    Sliders
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Category" asp-action="Index" class="nav-link">
                <i class="navnav-icon fas fa-bars"></i>
                <p>
                    Categories
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Product" asp-action="Index" class="nav-link">
                <i class="navnav-icon fas fa-shopping-cart"></i>
                <p>
                    Products
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Expert" asp-action="Index" class="nav-link">
                <i class="navnav-icon fas fa-users"></i>
                <p>
                    Experts
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Testimonial" asp-action="Index" class="nav-link">
                <i class="navnav-icon fas fa-comment-dots"></i>
                <p>
                    Testimonial
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Setting" asp-action="Index" class="nav-link">
                <i class="navnav-icon fas fa-fw fa-cog"></i>
                <p>
                    Settings
                </p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->