<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/assets/img/favicon.png" sizes="192x192" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>@ViewData["Title"] - Fiorello_MVC</title>
</head>

<body>
    <partial name="_HeaderPartial" />

    <main role="main" class="pb-3">
        @Html.AntiForgeryToken()
        @RenderBody()
    </main>

    <partial name="_FooterPartial" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e5e249fce2.js"></script>
    <script src="~/assets/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/script.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
