@model ProductCategory

<div class="card-body">
    <div class="form-group">
        <label for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter category name ...">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
</div>

<div class="card-footer">
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Save
    </button>
</div>